body {
    background-image: url(imagens/2306.w063.n005.144B.p1.144.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 31, 0.973);
}

.mosquito1 {
    height: 50px;
    width: 50px;
}

.mosquito2 {
    height: 70px;
    width: 70px;
}

.mosquito3 {
    height: 110px;
    width: 110px;
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    width: 280px; 
    height: auto;
    padding: 5px; 
    bottom: 0;
    border-top: 1px solid white;
    background-color: rgb(166, 232, 128); 
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    border-radius: 20px;
    margin: 0 5px 0 10px;
}

.vidas {
    display: flex; 
    gap: 5px; 
}

.cronometro {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto; 
}

.icon {
    display: inline-flex;
    height: 35px;
    width: 40px;
    background-color: rgb(238, 240, 111);
    border-radius: 30%;
}
.icon img {
    height: 30px;
    width: 30px;
}
#buttonVolume {
    display: inline-block;

}