body {
    background-image: url(imagens/2306.w063.n005.144B.p1.144.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mosquito1 {
    height: 50px;
    width: 50px;
}

.mosquito2 {
    height: 70px;
    width: 70px;
}

.mosquito3 {
    height: 110px;
    width: 110px;
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
}